
<div id="campus">
  <center>
    <h1 id="campus_h1">Campus</h1>
    <hr>
    <p class="campus_pee">We streamline the time, cost, and job hunting process for you. Getting you a programming career in</p>
    <p class="campus_pee">the most efficient and reliable way possible.</p>
    <div class="button success" id="submit">Learn More</div>
  </center>
</div>

<div id="online">
  <center>
    <h1 id="online_h1">Online</h1>
    <hr>
    <p class="online_pee">Become a developer at your own pace. Get unblocked with help from our staff to get back to learning.</p>
    <img id='online_img' src="/images/laptop.png"/>
    <div class="button" id="online_btn">Learn More</div>
  </center>
</div>

<div id="hire">
  <center>
    <h1 id="campus_h1">Hire a Developer</h1>
    <hr>
    <p class="campus_pee">Hire with Launch Academy and meet emerging Software Developers at an upcoming Career Day!</p>
    <div class="button success" id="submit">Join Career Day</div>
  </center>
</div>

<div class="text-center" id="partners">
  <h1 id="partners_h1">Hiring Partners</h1>
  <hr>
  <p class="campus_pee">We work with the very best. We are proud of our partners, who work with us to deliver the best</p>
  <p class="campus_pee">training.</p>

  <div class="box small-3 columns text-center">
    <div class="company">
      <img src="images/hubspot.png">
      <p class="partner">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>

  <div class="box small-3 columns text-center">
    <div class="company">
      <img src="images/fidelity.png">
      <p class="partner">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>

  <div class="box small-3 columns text-center">
    <div class="company">
      <img src="images/npr.png">
      <p class="partner">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>

  <div class="box small-3 columns text-center">
    <div class="company">
      <img src="images/datto.png">
      <p class="partner">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
</div>
